<% @title = 'アカウント情報' %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <div class="main">
      <%= link_to 'アカウント情報編集', :edit_admin_account %>
      <%= link_to 'パスワード変更', :edit_admin_password %>
    </div>
  </div>

  <table class="attributes">
    <tr>
      <th>氏名</th>
      <td>
        <%= @administrator.family_name %>
        <%= @administrator.given_name %>
      </td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td>
        <%= @administrator.family_name_kana %>
        <%= @administrator.given_name_kana %>
      </td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td class="email">
        <%= @administrator.email %>
      </td>
    </tr>
    <tr>
      <th>パスワード</th>
        <td class="password">＊＊＊＊＊＊＊＊</td>
    </tr>
    <tr>
      <th>在庫量</th>
      <td>
        <% if @administrator.stock == "売り切れ" %>
          <%= @administrator.stock %>
        <% elsif @administrator.stock == "今期終了" %>
          <%= @administrator.stock %>
        <% else %>
          <%= @administrator.stock %>　kg
        <% end %>
      </td>
    </tr>
    <tr>
      <th>開始日</th>
      <td class="date">
        <%= @administrator.start_date.strftime('%Y/%m/%d') %>
      </td>
    </tr>
  </table>
</div>

<div class="table-wrapper">
  <div class="links">
    <div class="main">
      <%= link_to '戻る', :admin_root %>
    </div>
  </div>
</div>
     