<% @title = '顧客の新規購入登録' %>
<h1><%= @title %></h1>

<ul>
<p>注文の確定後、登録されたメールアドレスへ振込先、購入額を送信いたします。</p>
</ul>

<div id="generic-form">
  <%= form_for @customer_form, as: 'form', url: :admin_customers do |f| %>
    <%= render 'form', f: f %>
    <div class="buttons">
      <%= f.submit '登録' %>
      <%= link_to 'キャンセル', :admin_customers %>
    </div>
  <% end %>
</div>

<div class="main">
  <div class="links">
    <%= link_to '個人情報の取り扱いについて', :introduction_admin_guide %>
  </div>
</div>