<% @title = 'ようこそ　藤由農園へ' %>
<h1><%= "※" %><%= @title %><%= "※" %></h1>

<div class="main">
<%= link_to(image_tag("mame1.png", size: "60*60", alt: "ようこそ藤由農園へ", align: "top"), :introduction_visitor_guide) %><br>
<%= link_to(image_tag("mame2.png", size: "60*60", alt: "はじめての注文の方", align: "top"), :new_visitor_customer) %><br>
<%= link_to(image_tag("mame3.png", size: "60*60", alt: "会員の方", align: "top"), :customer_login) %><br>
<%= image_tag("mame4.png", size: "60*60", alt: "ようこそ藤由農園へ", align: "top") %>

<h2>お問い合わせ,注文数の変更は下記まで連絡お願いします。</h2>
<h3>電話注文も可能 : TEL 090-5332-2431 </h3>
<p><h2>メールアドレス　xc543335@jb4.so-net.ne.jp</h2></p>
</div>
